# PostgreSQL setup
POSTGRES_DB=<database name>
POSTGRES_USER=<database user>
POSTGRES_PASSWORD=<database password>

# Application Load
ENTITIES_LOAD=True
DEVICES_LOAD=True
NOTIFICATIONS_LOAD=True

# Django Database
DATABASE_HOST=<database host>
DATABASE_PORT=<database port, default 5432>
DATABASE_NAME=<database name>
DATABASE_USER=<database user>
DATABASE_PASSWORD=<database password>

# Django
DJANGO_SECRET_KEY=<random passphrase with at minimum 32 characters length>
DJANGO_DEBUG=True #Development only!!

# JS/SCSS compression
COMPRESS_ENABLED=True

# LOGGING
LOKI_ENABLE=False
LOKI_HOST=localhost
LOKI_LEVEL=DEBUG
LOKI_PORT=3100
LOKI_TIMEOUT=0.5
LOKI_PROTOCOL=http
LOKI_SRC_HOST=entirety
LOKI_TIMEZONE=Europe/Berlin

# Authentication
LOCAL_AUTH=False
# Uncomment if using OIDC, i.e. LOCAL_AUTH=True
#LOGIN_URL=/oidc/authenticate
#LOGIN_REDIRECT_URL=/oidc/callback/
#LOGOUT_REDIRECT_URL=/
#OIDC_OP_AUTHORIZATION_ENDPOINT=https://<KeyCloak instance>/auth/realms/<realm name>/protocol/openid-connect/auth
#OIDC_OP_JWKS_ENDPOINT=https://<KeyCloak instance>/auth/realms/<realm name>/protocol/openid-connect/certs
#OIDC_OP_TOKEN_ENDPOINT=https://<KeyCloak instance>/auth/realms/<realm name>/protocol/openid-connect/token
#OIDC_OP_USER_ENDPOINT=https://<KeyCloak instance>/auth/realms/<realm name>/protocol/openid-connect/userinfo
#OIDC_RP_CLIENT_ID=<oidc client id>
#OIDC_RP_CLIENT_SECRET=<oidc client secret>
#OIDC_SUPER_ADMIN_ROLE=super_admin
#OIDC_SERVER_ADMIN_ROLE=server_admin
#OIDC_PROJECT_ADMIN_ROLE=project_admin
#OIDC_USER_ROLE=user
#OIDC_TOKEN_ROLE_FIELD=roles

# FIWARE
CB_URL=<orion context broker url>
IOTA_URL=<iot agent url>
QL_URL=<quantumleap url>
